<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404 Snail Error</title>
</head>
<body>
    <h1>404 Snail on the Loose</h1>
    <img src="https://media.giphy.com/media/RCBQSWiMPTQly/giphy.gif" alt="snail 404 crossing road">
</body>
</html>