<!DOCTYPE html>
<html lang="en">
<link>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SnailTime</title>
    <link type="text/css" rel="stylesheet" href="../public/css/styles.css"></link>
</head>
<body>
    <h1 class="snail-header">SNAILS ON PARADE</h1>
    <div class="snail-div">
    <% snails.forEach((snail, i) => { %>
        <div class="snailParade">
            <h4><%= snail.name %></h4>
            <a href="/snails/<%= i %>">
                <img src=<%= snail.image %> alt=<%=snail.name%>></img>
            </a>
        </div>
    <% }) %>
    </div>  
</body>
</html>